*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a{
    color:#fff;
    text-decoration: none;
}

.icono{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

header{
    
    width: 100%;
    height: 800px; /*modifica altura de fondo*/
    background: #BBD2C5;  
    background: -webkit-linear-gradient(to right, #5369763b, #bbd2c527);  
    background: linear-gradient(to right, #5369763a, #bbd2c52f), url(imagenes/portada3.jpg); 
    background-size:1460px; /*modifica tamaño del fondo*/

    padding:  75px; /*modifica tamaño del fondo*/
    /*  */

}
main{
    background-color: #7a7a7a;
    
}


.container{
    width: 100%; /* Separación entre contenido de la portada */
    display: flex;
    align-items: center;
    justify-content: space-around; /* distrubye el contenido */
    margin: auto;
}

h2{
    font-size: 50px;
    color: rgb(127, 219, 182);
    text-align: center;
    padding-bottom: 8%;
    padding-top: 2%;
}



.textos{
    width: 50%;
    color:#fff;
    text-align: center;
}

.textos h1{
    
    font-size:130px;
    animation: arriba 2s ease-in;
    padding-top: 25%;

}

.textos  span{
color: rgb(127, 219, 182);
}


.textos h2{
    color: #fff;
    font-size:40px;
    animation: arriba 2s ease-in;
}

.textos a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 2s ease-in;

}

.wave{
    height: 100px;
    width: 100%;
    justify-content: space-around;
    position: absolute; 
    bottom: 19%;
    

   }

.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 85vh; /*modifica el tamaño del menu*/
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
     background: hsla(156, 61%, 36%, 1);
        background: linear-gradient(360deg, hsla(156, 61%, 36%, 1) 0%, hsla(190, 90%, 16%, 1) 50%, hsla(156, 61%, 36%, 1) 100%);        
        background: -moz-linear-gradient(360deg, hsla(156, 61%, 36%, 1) 0%, hsla(190, 90%, 16%, 1) 50%, hsla(156, 61%, 36%, 1) 100%);
        background: -webkit-linear-gradient(360deg, hsla(156, 61%, 36%, 1) 0%, hsla(190, 90%, 16%, 1) 50%, hsla(156, 61%, 36%, 1) 100%);
    
}

.uno{
    
-webkit-clip-path: circle(0% at 0 0);
clip-path: circle(0% at 0 0);

}

.dos{
    
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
    
    }

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1000px){
    img{
        height: 400px;
    }

}

@media screen and (max-width:800px){
    img{
        height: 370px;
    }
    .textos h1{
        font-size: 70px;
    }

    .textos h2{
        font-size: 25px;
    }
    
}

@media screen and (max-width:700px){
    img{
        height: 250px;
    }
    .textos h1{
        font-size: 40px;
    }

    .textos h2{
        font-size: 15px;
    }
    
}

@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 60px;
    }    
}

@media screen and (max-width:340px){
    img{
        height: 160px;
    }
    .textos h1{
        font-size: 35px;
    }
    .textos a{
        width: 120px;
    }
    .textos h2{
        font-size: 15px;
    }
    
}











/*NUESTROS PRODUCTOS*/
/* */


.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    bottom: 110%;
    background-color: #fff;
   
}

.imagen-about-us{
    width: 35%;
    padding-bottom:8% ;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
    text-align: justify;
  
}


/*slider*/

.slider{
    width: 30%;
    height: 350px;
    overflow: hidden;
    padding-bottom: 10%;
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 400%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width:90%;
      height: 90%;
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
  }

.contenido-textos h3 {
    margin-bottom: 15px;
}


.contenido-textos h3   span{
    background: #9fffcb;  
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0  1px 0 rgba(140, 245, 243, 0.662); /*Color de borde de galeria*/
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 10px 30px 35px;
    font-weight: 300;
    text-justify: justify;
    color: #92A9A6;
}




/*GALERIA*/


.clientes h2{
    color: #7a7a7a;
}

.galeria{
    background: #fff;
    position: relative;
    padding-bottom: 7%;
}



.contenedorr{
    width: 150%;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    padding-top: 6%;
    padding-bottom: 4%;
    
}


.contenedorr p{
    padding: 0px 10px 30px 35px;
    font-weight: 300;
    text-justify: justify;
    color: #fff;
}

.tabla{
    width: 30%;
    height: 750px;
    margin: auto;
    /* color morado
    box-shadow: 0px 0px 6px 0px rgb(201, 134, 251);
    */
    box-shadow: 0px 0px 8px 0px rgb(134, 251, 220);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    flex-grow: 1;
    color:#fff ;
    
    


}

.tabla>h2{
    font-size: 30px;
    margin-bottom: 35px;
    color: #7a7a7a;;
    
}

.tabla>h2 :hover{
    font-size: 30px;
    margin-bottom: 35px;
    color:#fff;
    
}

.tabla>h3{
    color: #92A9A6;
}


.tabla p{
    padding: 0px 10px 30px 35px;
    font-weight: 300;
    text-justify: justify;
    color: #92A9A6;
}


.tabla img{
    height: 40%;
    margin-bottom: 35px;
}

.tabla> h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.tabla >p{
    display: block;
    margin-bottom: 20px;
}

.tabla:hover P{
    display: block;
    margin-bottom: 20px;
    color:#FFF;
}


.boton{
    display: inline-block;
    width: 150px;
    height: 8%;
    padding: 8px;
   background-color: #FFF;
    text-decoration: none;
    color:  rgb(113, 211, 185);
    border-radius: 100px;
    text-align: center, center;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: -10%;
    box-shadow: 0px 0px 4px 0px rgb(134, 251, 220);
}




.tabla:hover{
/*
COLOR MORADO
    background-image: linear-gradient(to right top, #ebe4f8, #e3d7f7, #dacbf6, #d2bef5, #c9b2f4, #c9b2f4, #c9b2f4, #c9b2f4, #d2bef5, #dacbf6, #e3d7f7, #ebe4f8);

*/    background: rgb(148,187,233);
    background: linear-gradient(90deg, rgba(148,187,233,1) 0%, rgba(173,235,210,1) 80%);
   
    transition: 0.5s all;
    transform: scale(1.15);
    cursor: pointer;
}

.tabla:hover h2{    /**SINTAXIS CORRECTA DEL TITULO DE LA TABLA PARA CAMBIAR COLOR*/
    color: #FFF;
}
.tabla:hover h3{    /**SINTAXIS CORRECTA DEL TITULO DE LA TABLA PARA CAMBIAR COLOR*/
    color: #FFF;
}
.tabla .imgproducto:hover{
    cursor: pointer;
}



/*OPINION */



.clientes{
background-color: #f2f2f2;
padding-top: 5%;


}



.cards{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 8%;

}

.cards .card{
   /* background: #7a7a7a; color gris oscuro 
   background: rgb(238,174,202);
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   */

    background: rgb(148,187,233);
    background: linear-gradient(90deg, rgba(173,235,210,1) 0%, rgba(148,187,233,1) 80%);
    display: flex;
    width: 38%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}




/*EXPERTOS EN*/


.about-services{
    background: #fff;
    padding-bottom: 60px;
}

.about-services h2{
    color: rgb(127, 219, 182);
    font-size: 50px;

}

.servicio-cont{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.servicio-ind{
    width: 18%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}



/* footer */

footer{
   
   /* COLOR 1
    background: rgb(148,187,233);
    background: linear-gradient(90deg, rgba(148,187,233,1) 0%, rgba(238,174,202,0.9716678907891282) 50%, rgba(173,235,210,1) 100%);
    */
    background-color: #7a7a7a;
    padding: 60px 0 10px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #FFF ;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid  rgb(127, 219, 182);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #f2f2ff;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color:  #fff ;
    
}




/*RESPONSIVE*/

/* Encabezado y menú */
@media screen and (max-width: 768px) {
    header {
      padding: 40px;
      height: auto;
    }
    
    .container {
      flex-direction: column;
      align-items: center;
    }
    
    .icono {
      display: none;
    }
    
    .enlaces {
      display: none;
      position: static;
      height: auto;
      background: none;
    }
    
    .icono:checked ~ .enlaces {
      display: flex;
    }
  }
  
  /* Slider de productos */
  @media screen and (max-width: 768px) {
    .slider {
      width: 80%;
      height: auto;
      overflow: hidden;
      padding-bottom: 20px;
    }
    
    .slider ul {
      display: flex;
      width: 300%;
    }
    
    .slider li {
      width: 33.33%;
    }
  }
  
  /* Sección de clientes y servicios */
  @media screen and (max-width: 768px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
    
    .servicio-cont {
      flex-direction: column;
      align-items: center;
    }
    
    .servicio-ind {
      width: 70%;
      margin-bottom: 20px;
    }
  }